div {
   width: 100%;
   height: 200px;
   background-color: lavender;
}
/* body{
  background-image: url("/Users/hillarygao/Desktop/ex.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
}  */ 
p {
  color:blue;
}
h1 {
  color:red;
}
